    <div class="container-fluid container-fluid-1">
      <div id="fluid-blank"></div>
    </div>
    <div class="container container-1">
      <div class="row-fluid">
        <span class="span4">
          <h2 class="heading">Benefit One</h2>
          <p>Product benefit number one.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.</p>
        </span>
        <span class="span4">
          <h2 class="heading">Benefit Two</h2>
          <p>Product benefit number two.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.</p>
        </span>
        <span class="span4">
          <h2 class="heading">Benefit Three</h2>
          <p>Product benefit number one.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.</p>
        </span>
      </div>
    </div>
    <div class="container container-2">
      <div class="row-fluid">
        <span class="span12">
          <p>Our philosophy here.&nbsp;Curabitur vel consequat tortor. Aliquam. Erat. Volutpat.</p>
        </span>
      </div>
    </div>
