body {
  padding-top: 60px;
}
.navbar {
  height: 60px;
}
.navbar-fixed-top {
  /*width: 1000px;*/
  margin-left: auto;
  margin-right: auto;
}
.navbar .navbar-inner {
  background: rgba(255, 255, 255, 0.960784);
  border: none;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar .navbar-inner .brand {
  margin: -10px 0px 0px -15px;
  text-shadow: none;
  color: #333333;
  line-height: 40px;
  font-family:"oswald";
  font-size: 24px;
  font-weight: bold;
}
.navbar .navbar-inner .nav li a {
  line-height: 40px;
}
.container-fluid.container-fluid-1 {
  background: #ffffff url(background.jpg) no-repeat center bottom;
  background-size: cover;
}
.container-fluid.container-fluid-1 #fluid-blank {
  height: 440px;
}
.container-fluid.dish {
  background: #ffffff url(dish.jpg) no-repeat center bottom;
  background-size: cover;
}
.container-fluid.dish #fluid-blank {
  height: 162px;
}
.container-fluid.new {
  background: #ffffff url(new.jpg) no-repeat center bottom;
  background-size: cover;
}
.container-fluid.new #fluid-blank {
  height: 162px;
}
.container-fluid.about {
  background: #ffffff url(about.jpg) no-repeat center top;
  background-size: cover;
}
.container-fluid.about #fluid-blank {
  height: 162px;
}
.container-fluid-1 .container {
  margin-top: 30px;
  margin-bottom: 170px;
}
.container-fluid-1 .container .row-fluid .span12 .heading {
  line-height: 64px;
  font-size: 58px;
}
.container-fluid-1 .container .row-fluid .span12 p {
  font-size: 17px;
}
.container-fluid-1 .container .row-fluid .span12 .btn-primary {
  background: #ff6a32;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  border: none;
  margin: 15px 0px 0px 0px;
}
.container.container-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.container-1 .row-fluid .span6 .heading-english {
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid none solid none;
  border-width: thin;
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}
.container-1 .row-fluid .span6 .heading {
  margin-top: 0;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}
.container-1 .row-fluid .span6 img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.container-1 .row-fluid .span6 p {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  color: #dddddd;
}
.container-1 .row-fluid .span6 p span {
  width: 25px;
}
.container-1 .row-fluid .span6 div {
  padding: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3E403B;
}
.container-1 .row-fluid .span6 div.image {
  padding: 0 18px 0 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #ffffff;
}
.container-1 .row-fluid .span6 div div.box{
  padding: 0 8px 8px 8px;
  margin: 0 8px 8px 8px;
  float:left;
}
.container-1 .row-fluid .span6 div p {
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}
.container-1 .row-fluid .span6 div div.button{
  text-align: center;
  padding-top: 88px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.container-1 .row-fluid .span6 div a.btn {
  margin-left: auto;
  margin-right: auto;
}
.container-1 .row-fluid .span3 .heading-english {
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid none solid none;
  border-width: thin;
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}
.container-1 .row-fluid .span3 .heading {
  margin-top: 0;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}
.container-1 .row-fluid .span3 p {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  color: #dddddd;
}
.container-1 .row-fluid .span3 div {
  padding: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3E403B;
}
.container-1 .row-fluid .span3 div p {
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
}
.container-1 .row-fluid .span3 div div.button{
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
.container-1 .row-fluid .span3 div a.btn {
  margin-left: auto;
  margin-right: auto;
}
.container-2 {
  padding: 0px 0px 30px 0px;
  background: #ffffff url(lace.png) repeat fixed bottom;
}
.container-2 .row-fluid .span12 p {
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}
.container-fluid.container-fluid-2 {
  background: #3E403B;
  padding: 30px 20px 30px 20px;
}
.container-fluid-2 .container .row-fluid .span12 .pull-left p {
  font-weight: 300;
  color: #ffffff;
  line-height: 36px;
}
.container-fluid-2 .container .row-fluid .span12 .nav {
  margin: 0px;
}
.container-fluid-2 .container .row-fluid .span12 .nav li a {
  text-align: center;
  color: #cccccc;
}

#footer-left {
  font-size: 13px;
  font-family: "微软雅黑";
  margin-bottom: -5px;
}

#footer-left a {
  color: #ffffff;
}

#footer-left a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

#footer-left2 {
  margin-top: -15px;
  margin-bottom: 0px;
  font-size: 10px;
  font-family: "微软雅黑";
  padding: 0px;
}
p.about {
  line-height: 30px;
}
.center {
  text-align: center;
}

a, a:hover, a:focus {
  color: black;
}

.dish-each {
  text-align: center;

  .thumbnail {
    border: blod;
    margin: 20px 10px 20px 10px;

    img {
      width: 250px;
      height: 175px;
    }

    .desc {
      margin: 10px;
      font-weight: bold;

      .through {
        text-decoration: line-through;
      }
    }
  }
}
